<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--
        bean标签标识配置bean
        id属性表示为变量名
        class属性表示定义类型-->
    <bean id="bookMapper" class="com.ymx.mapper.impl.BookMapperImpl"/>
    <bean id="bookService" class="com.ymx.service.impl.BookServiceImpl"/>
</beans>