<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--set注入-->
    <bean id="bookMapper" class="com.ymx.mapper.impl.BookMapperImpl">
        <!--基本数据类型-->
        <property name="name" value="cxk"/>
        <property name="id" value="1"/>
    </bean>
    <bean id="bookService" class="com.ymx.service.impl.BookServiceImpl">
        <!--引用数据类型-->
        <property name="bookMapper" ref="bookMapper"/>
    </bean>
</beans>